.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .content {
    h1 {
      color: aqua;
      font-weight: 500;
    }
    .survey {
      input {
      }
    }
    .button {
    }
  }
}
